<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            list-style: none;
        }
    </style>
    <script src="./js/vue.js"></script>
</head>
<body>
    <!-- <div id="root">
        <ul>
            <li v-for="(item, index) of list" :key="index">
                {{item.name}} -{{item.age}}
                <input type="text">
            </li>
        </ul>
    </div>
    <div id="root">
        <ul>
            <li v-for="(item, index) of list" :key="index">
                {{item.name}} -{{item.age}}
                <input type="text">
            </li>
        </ul>
    </div> -->
    <div id="root">
        <ul>
            <li v-for="(item, index) of list" :key="index">
                {{item.name}} -{{item.age}}
                <input type="text">
            </li>
        </ul>
    </div>
</body>
    <script>
        // new Vue({
        //     el:'#root',
        //     data:{
        //         list:[
        //             {
        //                 id:'1',
        //                 name:'张三',
        //                 age:18
        //             },
        //             {
        //                 id:'2',
        //                 name:'李四',
        //                 age:19
        //             },
        //             {
        //                 id:'3',
        //                 name:'王五',
        //                 age:20
        //             },
        //         ],
        //             car:{
        //                 name:'cls63',
        //                 price:'180万',
        //                 color:'黑色'
        //             },
        //             str:'hello'
        //     }
        // })
        // new Vue({
        //     el:'#root',
        //     data:{
        //         list:[
        //             {
        //                 id:'1',
        //                 name:'张三',
        //                 age:18
        //             },
        //             {
        //                 id:'2',
        //                 name:'李四',
        //                 age:19
        //             },
        //             {
        //                 id:'3',
        //                 name:'王五',
        //                 age:20
        //             },
        //         ],
        //             car:{
        //                 name:'cls63',
        //                 price:'180万',
        //                 color:'黑色'
        //             },
        //             str:'hello'
        //     }
        // })
        new Vue({
            el:'#root',
            data:{
                list:[
                    {
                        id:'1',
                        name:'张三',
                        age:18
                    },
                    {
                        id:'2',
                        name:'李四',
                        age:19
                    },
                    {
                        id:'3',
                        name:'王五',
                        age:20
                    },
                ],
                    car:{
                        name:'cls63',
                        price:'180万',
                        color:'黑色'
                    },
                    str:'hello'
            }
        })
    </script>
</html>