<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <!-- <div id="root">
        <input type="text" v-model="listname" @input="change">
        <ul>
            <li v-for="item in cartlist" :key="item.id">
                {{item.name}}--{{item.age}}
            </li>
        </ul>
    </div> -->

    <div id="root">
        <input type="text" v-model="listname" @input="change">
        <ul>
            <li v-for="item in cartlist" :key="item.id">
                {{item.name}}--{{item.age}}
            </li>
        </ul>
    </div>
</body>
    <script>
        // new Vue({
        //     el:'#root',
        //     data:{
        //         cartlist:[],
        //         listname:'',
        //         list:[
        //             {id:'01',name:'pgone',age:18},
        //             {id:'02',name:'jony j',age:19},
        //             {id:'03',name:'ansy j',age:20},
        //         ]
        //     },
        //     methods: {
        //         change(){
        //             this.cartlist=this.list.filter(i=>{
        //                 return i.name.includes(this.listname)
        //             })
        //         }
        //     },
        //     created() {
        //         this.change()
        //     },
        // })
    </script>
</html>