<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <!-- <div id="root">
        <input type="text" v-model="sea">
        <ul>
            <li v-for="item in cortlist" :key="item.id">
                {{item.name}} -- {{item.age}}
            </li>
        </ul>
    </div> -->

    <div id="root">
        <input type="text" v-model="sea">
        <ul>
            <li v-for="item in cortlist" :key="item.id">
                {{item.name}} -- {{item.age}}
            </li>
        </ul>
    </div>
</body>
<script>
    // new Vue({
    //     el: '#root',
    //     data: {
    //         sea: '',
    //         cortlist: [],
    //         list: [
    //             { id: '001', name: '张', age: '18' },
    //             { id: '002', name: '李', age: '19' },
    //             { id: '003', name: '王', age: '20' },
    //         ]

    //     },
    //     watch: {
    //         sea: {
    //             immediate: true,
    //             handler(newValue, oldValue) {
    //                 this.cortlist = this.list.filter(i => i.name.indexOf(newValue) !== -1)
    //             }
    //         }
    //     }
    // })

    new Vue({
        el: '#root',
        data: {
            sea: '',
            cortlist: [],
            list: [
                { id: '001', name: '张', age: '18' },
                { id: '002', name: '李', age: '19' },
                { id: '003', name: '王', age: '20' },
            ]

        },
        watch: {
            sea: {
                immediate: true,
                handler(newValue, oldValue) {
                    this.cortlist = this.list.filter(i => i.name.indexOf(newValue) !== -1)
                }
            }
        }
    })
</script>

</html>